:root {
  --main_color: #333;
  --sub_color: #777;
  --desc_color: #999;
  --highlight_color: #888b75;
  /* --highlight_color2: #283618; */
  --hover: #2d3124;
  --bg_hover: #888b75;
  --white: white;
  --border: #eee
}

body {
  margin: 0;
  font-size: 14px;
  color: var(--main_color);
  /* font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen', */
  font-family: 'Quicksand', 'Gothic A1', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: var(--main_color);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}



/* HEADER */
header {
  border-bottom: 1px solid var(--border);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 10px;
}

.header__logo {
  font-size: 16px;
  color: var(--hover);
  font-weight: 600;
  display: flex;
  align-items: center;
}

.header__menu {
  padding: 20px;
  min-height: 60px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

header a {
  color: var(--highlight_color);
}

header a:hover,
header a:focus {
  color: var(--hover)
}


/* FOOTER */
footer {
  padding: 0 20px;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* background: var(--highlight_color); */
  background: rgba(179, 181, 171, .3);
  /* background-color: rgba(107, 112, 92, .3); */
  /* 하이라이트 컬러  */
  /* background-color: rgba(83, 90, 60, 0.3) ; */
  /* 어두운 컬러  */
  border-top: 1px solid var(--border);
}

footer a {
  color: var(--highlight_color);
}

footer a:hover,
footer a:focus {
  color: var(--hover);
}


/* Post Box List*/

.post__navigation {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  padding: 10px 20px;
  box-sizing: border-box;
  min-height: 30px;
  color: var(--highlight_color);
  border-bottom: 1px solid var(--border);
  cursor: pointer;
}

.post__navigation>div {
  padding: 10px;
  min-width: 80px;
  text-align: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.post__navigation--active {
  background: var(--highlight_color);
  font-weight: 500;
  color: #fff;
}

.post__list,
.post__detail {
  min-height: 90vh;
  padding: 20px;
  text-align: center;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1140px;
  margin: 0 auto;
}

.post__box {
  line-height: 24px;
  width: 32%;
  text-align: left;
  border: 1px solid var(--border);
  padding: 20px;
  box-sizing: border-box;
  justify-content: space-between;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.post__profile-box {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--sub_color);
}

.post__profile {
  width: 36px;
  height: 36px;
  background-color: var(--border);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.post__title {
  font-size: 18px;
  font-weight: 500;
  padding: 14px 0;
}

.post__text {
  color: var(--main_color);
}

.post__utils-box {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 14px;
  color: var(--desc_color);
  flex-direction: row-reverse;
}

.post__edit:hover,
.post__edit:focus,
.post__delete:hover,
.post__delete:focus {
  color: var(--hover);
}

@media (max-width: 1060px) {
  .post__box {
    width: 48%;
  }
}

@media (max-width: 600px) {
  .post__box {
    width: 100%;
  }
}

/* POST DETAILL */

.post__detail .post__box {
  width: 100%;
  border: none;
  padding: 0;
}

.post__detail .post__title {
  font-size: 32px;
  line-height: 48px;
  font-weight: 600;
}

.post__detail .post__profile-box {
  padding: 10px 0;
}

.post__detail .post__text {
  padding: 20px 0;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  height: 60vh;
}

.post__detail .post__utils-box {
  padding: 10px;
  cursor: pointer;
}

.post__detail .post__delete,
.post__detail .post__edit {
  padding: 8px 20px;
  border-radius: 25px;
  border: 1px solid var(--border);
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.post__detail .post__delete:hover,
.post__detail .post__delete:focus,
.post__detail .post__edit:hover,
.post__detail .post__edit:focus {
  border: 1px solid var(--bg_hover);
  background: var(--bg_hover);
  color: var(--white);
}

/* PROFILE */
.profile__box {
  font-size: 16px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
  padding: 20px;
  line-height: 24px;
  border-bottom: 1px solid var(--border);
}

.profile__user {
  display: flex;
  gap: 20px;
  align-items: center;

}

.profile__image {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: var(--border);
}

.profile__email {
  font-weight: 500;
}

.profile__name {
  margin-top: 5px;
}

.profile__logout {
  font-size: 12px;
  border: 1px solid var(--border);
  padding: 8px 20px;
  border-radius: 25px;
  color: var(--highlight_color);
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.profile__logout:hover,
.profile__logout:focus {
  color: var(--white);
  background: var(--bg_hover);
}


/* CAROUSEL */
.carousel {
  margin: 0 auto;
  max-width: 1140px;
  margin-bottom: 20px;
}

.carousel__slides {
  position: relative;
  height: 500px;
  overflow: hidden;
}

.carousel__slides * {
  user-select: none;
}

.carousel__slides input {
  display: none;
}

.carousel__slide-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  opacity: 0;
  visibility: hidden;
}

.carousel__slide-img {
  width: 100%;
  height: 100%;
  transition: all .7s ease-in-out;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -ms-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
}

.carousel__slide-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel__controls {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  transform: translateY(-50%);
  z-index: 999;
  font-size: 100px;
  color: var(--white);
  display: flex;
  justify-content: space-between;
}

.carousel__controls label {
  opacity: 0;
  padding: 0 20px;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  cursor: pointer;

}

.carousel__slide-container:hover .carousel__controls label {
  opacity: 0.3;
}

.carousel__slide-container .carousel__controls label:hover {
  opacity: 0.8;
}

.carousel__dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 999;
  text-align: center;
}

.carousel__dots .carousel__dot {
  cursor: pointer;
  width: 10px;
  height: 10px;
  background: var(--white);
  display: inline-block;
  margin: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  opacity: 0.3;
}

.carousel__dot.active{
  opacity: 0.8;
}

input:checked+.carousel__slide-container {
  opacity: 1;
  display: block;
  visibility: visible;
}

input:checked+.carousel__slide-container .carousel__slide-img {
  opacity: 1;
  display: block;
  visibility: visible;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
}

input:checked+.carousel__slide-container .carousel__controls label {
  display: block;
}
